{% load filters %}

<form action="{% url 'add_time_entry' %}" method="POST" class="task-form container" autocomplete="off" id="timer">
    {{ form.name|attr:'placeholder=Task'|attr:'class=col-6'}}
    <div class="col-6 no-gutter">
      {{ form.project|attr:'class=col-5' }}
      {{ form.start_date }}
      {{ form.end_date }}
      <div class="col-4 time" id="time">0:00 sec</div>
      <button value="Add" class="col-3 green-bg">Start</button>
      <br class="clear">
    </div>
    <br class="clear">
</form>
