{% extends "main/base.html" %}
{% load templates_include %}

{% block top_menu %}
  {% include "main/top_menu.html" %}
{% endblock top_menu %}

{% block content %}
  {% include "task/timer_form.html" %}

  <div id="days">
    {% for date, day in days.items %}
      {% rendered_include day_template day %}
    {% endfor %}
  </div>
    
{% endblock content %}

{% block templates %}
    <script id="task-template" type="x-tmpl-mustache">
      {% raw_include task_template %}
    </script>
    <script id="day-template" type="x-tmpl-mustache">
      {% raw_include day_template %}
    </script>
{% endblock templates %}