article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

*,
*:after,
*:before {
  box-sizing: border-box; }

html {
  background: #f2f2f2; }

body {
  color: #333333;
  font-size: 10px; }

a,
a:link,
a:visited,
a:hover,
a:focus,
a:active {
  color: inherit;
  text-decoration: inherit; }

::-webkit-input-placeholder {
  color: #cccccc; }

:-moz-placeholder {
  color: #cccccc; }

::-moz-placeholder {
  color: #cccccc; }

:-ms-input-placeholder {
  color: #cccccc; }

.placeholder {
  color: #cccccc; }

.container {
  position: relative;
  width: 100%; }

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  float: left;
  padding: 0 15px;
  position: relative; }

.no-gutter {
  padding: 0; }

.col-1 {
  width: 8.33333%; }

.col-2 {
  width: 16.66667%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33333%; }

.col-5 {
  width: 41.66667%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33333%; }

.col-8 {
  width: 66.66667%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33333%; }

.col-11 {
  width: 91.66667%; }

.col-12 {
  width: 100%; }

.clear {
  clear: both; }

.float-right {
  float: right; }

.align-center {
  text-align: center; }

.margin-left {
  margin-left: 30px; }

.italic {
  font-style: italic; }

.green {
  color: #4bc800; }

.red {
  color: #ec0000; }

.main {
  margin: 0 auto;
  width: 1200px; }

.center-window-wrapper {
  bottom: 0;
  display: table;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%; }

.center-window {
  display: table-cell;
  font-size: 2em;
  text-align: center;
  vertical-align: middle; }

.login-form input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 0 5px #cccccc;
  margin: 15px;
  padding: 15px; }

.login-form [type="submit"] {
  background: #4bc800;
  color: #fff; }

nav {
  background: #333333;
  color: #cccccc;
  font-size: 1.4em;
  width: 100%; }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  nav li {
    display: inline; }
  nav li:first-child a {
    border-left: 1px solid #4d4d4d; }
  nav a {
    border-right: 1px solid #4d4d4d;
    display: inline-block;
    padding: 15px 30px; }
  nav a:hover,
  nav a:focus,
  nav a:active {
    background: #000;
    color: #fff; }
  nav .active,
  nav .active:hover,
  nav .active.focus,
  nav .active:active {
    background: #f2f2f2;
    color: #333333; }
  nav .float-right {
    border-left: 1px solid #4d4d4d; }

.content {
  margin-top: 20px; }

.task-form,
.add-member-form,
.small-form {
  background: #fff;
  box-shadow: 0 0 1px #cccccc;
  font-size: 1.8em;
  margin-top: 50px; }
  .task-form button,
  .task-form input,
  .task-form select,
  .add-member-form button,
  .add-member-form input,
  .add-member-form select,
  .small-form button,
  .small-form input,
  .small-form select {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background: transparent;
    border: 0;
    margin: 0;
    padding: 15px; }
  .task-form [type="file"],
  .add-member-form [type="file"],
  .small-form [type="file"] {
    display: none; }
  .task-form label,
  .add-member-form label,
  .small-form label {
    cursor: pointer;
    padding: 15px; }
  .task-form [type="submit"],
  .task-form .green-bg,
  .add-member-form [type="submit"],
  .add-member-form .green-bg,
  .small-form [type="submit"],
  .small-form .green-bg {
    background: #4bc800;
    color: #fff; }
  .task-form .red-bg,
  .add-member-form .red-bg,
  .small-form .red-bg {
    background: #ec0000;
    color: #fff; }
  .task-form .time,
  .add-member-form .time,
  .small-form .time {
    color: #cccccc;
    padding: 15px;
    text-align: center;
    vertical-align: middle; }
  .task-form select,
  .add-member-form select,
  .small-form select {
    padding: 14px; }

.list {
  margin-top: 50px; }
  .list h3 {
    color: gray;
    display: inline;
    font-size: 2.6em;
    font-weight: normal;
    margin: 0;
    vertical-align: middle; }
    .list h3 .small {
      font-size: .615385em; }
  .list h5 {
    color: gray;
    display: inline;
    font-size: 1.6em;
    line-height: 2em;
    margin: 0;
    vertical-align: middle; }
  .list ul {
    list-style: none;
    margin: 20px 0 0;
    padding: 0; }
  .list li {
    border-bottom: 1px solid #cccccc;
    font-size: 1.4em;
    margin: 15px 0;
    padding-bottom: 15px; }
  .list span {
    vertical-align: middle; }
  .list .margin-left {
    margin-left: 30px; }
  .list .gray {
    color: gray; }
  .list .small {
    font-size: .785714em; }
  .list .title {
    border-bottom: 0;
    font-size: 2em;
    padding-bottom: 0; }

.add-member-form {
  margin-top: 45px; }

.small-form {
  font-size: 1em;
  margin-top: 0; }

.inline-form {
  display: inline;
  font-size: 1.5em;
  vertical-align: middle; }
  .inline-form input,
  .inline-form select {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0; }
