{% extends "main/base.html" %}

{% block content %}
<div class="center-window-wrapper">
  <div class="center-window">
  <form method="post" action="{% url 'django.contrib.auth.views.login' %}" class="login-form">
  
  {% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
  {% endif %}
  
  {% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}
  
  {% csrf_token %}
    
  <div>
    <span>{{ form.username.label_tag }}</span>
    {{ form.username }}
  </div>
  <div>
    <span>{{ form.password.label_tag }}</span>
    {{ form.password }}
  </div>
  
  <input type="submit" value="Login" />
  <input type="hidden" name="next" value="{{ next }}" />
  
  <p><a href="{% url 'registration_register' %}">New user</a></p>
  </form>
  
  </div>
</div>
{% endblock %}