{% extends "main/base.html" %}

{% block content %}
  <div class="center-window-wrapper">
    <div class="center-window">
      <h1>Logged out</h1>
      <p><a href="{% url 'index' %}">Log in again</a></p>
    </div>
  </div>
{% endblock content %}