{% extends "main/base.html" %}
{% load i18n %}

{% block content %}
<div class="center-window-wrapper">
  <div class="center-window">
    <p>{% trans "You are now registered." %}</p>
  </div>
</div>
{% endblock content %}