{% extends "main/base.html" %}
{% load i18n %}

{% block content %}
<div class="center-window-wrapper">
  <div class="center-window">
    <form method="post" action="" class="login-form">
      {% csrf_token %}
      <div>
        <span>{{ form.username.label_tag }}</span>
        {{ form.username }}
      </div>
      <div>
        <span>{{ form.email.label_tag }}</span>
        {{ form.email }}
      </div>
      <div>
        <span>{{ form.password1.label_tag }}</span>
        {{ form.password1 }}
      </div>
      <div>
        <span>{{ form.password2.label_tag }}</span>
        {{ form.password2 }}
      </div>

      <input type="submit" value="{% trans 'Submit' %}" />
    </form>
  </div>
</div>
{% endblock content %}