{% load filters %}

<form action="{% url 'add_team' %}" method="POST" class="task-form container" autocomplete="off" id="team-form">
  {% csrf_token %}
  {{ form.name|attr:'placeholder=Create new team'|attr:'class=col-10'}}
  <input type="submit" value="Create" class="col-2 green-bg">
  <br class="clear">
</form>