<li>
  <form action="" method="POST" class="small-form container" enctype="multipart/form-data">
    <label for="file" class="col-10">
      <span class="placeholder">Add new file</span>
      <input type="file" id="file" name="user" placeholder="Add new file">
    </label>
    <input type="submit" value="+" class="col-2">
    <br class="clear">
  </form>
</li>