{% load filters %}

<form action="{% url 'add_project' %}" method="POST" class="task-form container" autocomplete="off" id="project-form">
  {% csrf_token %}
  {{ form.name|attr:'placeholder=Add new project'|attr:'class=col-6'}}
  {{ form.team|attr:'class=col-4' }}
  <input type="submit" value="Create" class="col-2 green-bg">
  <br class="clear">
</form>