<li class="container">
  <div class="col-12">
    <a href="#">Project.pdf</a>
    <form action="" method="POST" class="inline-form">
      <input type="submit" value="&times;" class="red" title="Delete File">
    </form>
  </div>
  <br class="clear">
</li>