<li class="container">
  <div class="col-9">
    <span>User</span>
    <form action="" class="inline-form"> 
      <input type="submit" class="red" value="&times;" title="Remove this user from Project">
    </form>
  </div>
  <div class="align-center col-3">1h 12min</div>
  <br class="clear">
</li>