<div class="list container">
  <h3 class="col-5">PSI <span class="italic small">Team</span></h3>
  <div class="col-3">
    <h5 class="col-6 align-center">2h 28min</h5>
    <h5 class="col-6 align-center">5h 42min</h5>
    <br class="clear">
  </div>
  <br class="clear">
  <div class="col-8">
    <ul>
      <li class="title">TODO</li>
      {# {% for task in project.tasks %} #}
        {% include "team/task.html" with task=task mark_done=True delete=True time=False %}
        {% include "team/task.html" with task=task mark_done=True delete=True time=False %}
        {% include "team/todo_form.html" %}
      {# {% endfor %} #}
      <li class="title">Opened</li>
        {% include "team/task.html" with task=task mark_done=True delete=True time=True %}
        {% include "team/task.html" with task=task mark_done=True delete=True time=True %}
      <li class="title">Done</li>
        {% include "team/task.html" with task=task mark_done=False delete=True time=True %}
        {% include "team/task.html" with task=task mark_done=False delete=True time=True %}
      <li class="title">Canceled</li>
        {% include "team/task.html" with task=task mark_done=True delete=False time=True %}
        {% include "team/task.html" with task=task mark_done=True delete=False time=True %}
    </ul>
  </div>
  <div class="col-4">
    <ul>
      <li class="title">Files</li>
      {# {% for file in project.files %} #}
        {% include "team/file.html" %}
        {% include "team/file.html" %}
      {# {% endfor %} #}
      {% include "team/add_file_form.html" %}
    </ul>
  </div>
  <br class="clear">
</div>