{% extends "main/base.html" %}
{% load templates_include %}

{% block top_menu %}
  {% include "main/top_menu.html" %}
{% endblock top_menu %}

{% block content %}
  {% include "team/add_project_form.html" %}

  <div id="projects">
    {% for project in projects %}
      {% rendered_include project_template project %}
    {% endfor %}
  </div>
    
{% endblock content %}

{% block templates %}
    <script id="project-template" type="x-tmpl-mustache">
      {% raw_include project_template %}
    </script>
    <script id="task-template" type="x-tmpl-mustache">
      {% raw_include task_template %}
    </script>
    <script id="todo-form-template" type="x-tmpl-mustache">
      {% raw_include todo_form_template %}
    </script>
    <script id="file-template" type="x-tmpl-mustache">
      {% raw_include file_template %}
    </script>
    <script id="file-form-template" type="x-tmpl-mustache">
      {% raw_include file_form_template %}
    </script>
    <script id="empty-template" type="x-tmpl-mustache">
      {% raw_include empty_template %}
    </script>
{% endblock templates %}