<li class="container">
  <div class="col-7">
    <span>Projekt PSI 2</span>
    {% if mark_done %}
    <form action="" class="inline-form"> 
      <input type="submit" class="green" value="&#10003;" title="Close Task">
    </form>
    {% endif %}
    {% if delete %}
    <form action="" class="inline-form"> 
      <input type="submit" class="red" value="&times;" title="Delete Task">
    </form>
    {% endif %}
  </div>
  {% if time %}
  <div class="col-5 no-gutter">
    <div class="col-2">&nbsp;</div>
    <div class="align-center col-5">1h 12min</div>
    <div class="align-center col-5">3h 51min</div>
    <br class="clear">
  </div>
  {% endif %}
  <br class="clear">
</li>