{% extends "main/base.html" %}
{% load templates_include %}

{% block top_menu %}
  {% include "main/top_menu.html" %}
{% endblock top_menu %}

{% block content %}
  {% include "team/add_team_form.html" %}

  <div id="teams">
    {% for team in teams %}
      {% rendered_include team_template team %}
    {% endfor %}
  </div>
    
{% endblock content %}

{% block templates %}
    <script id="team-template" type="x-tmpl-mustache">
      {% raw_include team_template %}
    </script>
    <script id="user-template" type="x-tmpl-mustache">
      {% raw_include user_template %}
    </script>
    <script id="user-form-template" type="x-tmpl-mustache">
      {% raw_include user_form_template %}
    </script>
{% endblock templates %}