<div class="list container">
  <h3>Dev Team</h3>
  <h5 class="margin-left">2h 28min</h5>
  <br class="clear">
  <div class="col-8">
    <ul>
      <li class="title">Members</li>
      {# {% for member in project.members %} #}
        {% include "team/member.html" with member=member %}
        {% include "team/member.html" with member=member %}
      {# {% endfor %} #}
    </ul>
  </div>
  <div class="col-4">
    <ul>
      <li class="title">Add Member</li>
      {% include "team/add_member_form.html" %}
    </ul>
  </div>
  <br class="clear">
</div>