<li>
  <form action="" method="POST" class="small-form container">
    <input type="text" name="user" class="col-11" placeholder="Add new task">
    <input type="submit" value="+" class="col-1">
    <br class="clear">
  </form>
</li>