@import 'normalize';  // wstawia zawartość pliku _normalize.scss

$white: #fff;
$black: #000;
$gray: darken($white, 50%);
$dark-gray: lighten($black, 20%);
$light-gray: darken($white, 20%);
$background-color: darken($white, 5%);
$green: #4bc800;
$red: #ec0000;

*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  background: $background-color;
}

body {
  color: $dark-gray;
  font-size: 10px;
}

a,
a:link,
a:visited,
a:hover,
a:focus,
a:active {
  color: inherit;
  text-decoration: inherit;
}

::-webkit-input-placeholder {
  color: $light-gray;
}

:-moz-placeholder {
  color: $light-gray;
}

::-moz-placeholder {
  color: $light-gray;
}

:-ms-input-placeholder {
  color: $light-gray;
}

.placeholder {
  color: $light-gray;
}

.container {
  position: relative;
  width: 100%;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  float: left;
  padding: 0 15px;
  position: relative;
}

.no-gutter {
  padding: 0;
}

.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}

.clear {
  clear: both;
}

.float-right {
  float: right;
}

.align-center {
  text-align: center;
}

.margin-left {
  margin-left: 30px;
}

.italic {
  font-style: italic;
}

.green {
  color: $green;
}

.red {
  color: $red;
}

.main {
  margin: 0 auto;
  width: 1200px;
}

.center-window-wrapper {
  bottom: 0;
  display: table;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.center-window {
  display: table-cell;
  font-size: 2em;
  text-align: center;
  vertical-align: middle;
}

.login-form {
  input {
    appearance: none;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 0 5px $light-gray;
    margin: 15px;
    padding: 15px;
  }

  [type="submit"] {
    background: $green;
    color: $white;
  }
}

nav {

  background: $dark-gray;
  color: $light-gray;
  font-size: 1.4em;
  width: 100%;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline;
  }

  li:first-child a {
    border-left: 1px solid lighten($dark-gray, 10%);
  }

  a {
    border-right: 1px solid lighten($dark-gray, 10%);
    display: inline-block;
    padding: 15px 30px;
  }

  a:hover,
  a:focus,
  a:active {
    background: $black;
    color: $white;
  }

  .active,
  .active:hover,
  .active.focus,
  .active:active {
    background: $background-color;
    color: $dark-gray;
  }

  .float-right {
    border-left: 1px solid lighten($dark-gray, 10%);
  }
}

.content {
  margin-top: 20px;
}

.task-form,
.add-member-form,
.small-form {
  background: $white;
  box-shadow: 0 0 1px $light-gray;
  font-size: 1.8em;
  margin-top: 50px;

  button,
  input,
  select {
    appearance: none;
    background: transparent;
    border: 0;
    margin: 0;
    padding: 15px;
  }

  [type="file"] {
    display: none;
  }

  label {
    cursor: pointer;
    padding: 15px;
  }

  [type="submit"],
  .green-bg {
    background: $green;
    color: $white;
  }

  .red-bg {
    background: $red;
    color: $white;
  }

  .time {
    color: $light-gray;
    padding: 15px;
    text-align: center;
    vertical-align: middle;
  }

  select {
    padding: 14px;
  }
}

.list {
  margin-top: 50px;

  h3 {
    color: $gray;
    display: inline;
    font-size: 2.6em;
    font-weight: normal;
    margin: 0;
    vertical-align: middle;

    .small {
      font-size: .615385em;
    }
  }

  h5 {
    color: $gray;
    display: inline;
    font-size: 1.6em;
    line-height: 2em;
    margin: 0;
    vertical-align: middle;
  }

  ul {
    list-style: none;
    margin: 20px 0 0;
    padding: 0;
  }

  li {
    border-bottom: 1px solid $light-gray;
    font-size: 1.4em;
    margin: 15px 0;
    padding-bottom: 15px;
  }

  span {
    vertical-align: middle;
  }

  .margin-left {
    margin-left: 30px;
  }

  .gray {
    color: $gray;
  }

  .small {
    font-size: .785714em;
  }

  .title {
    border-bottom: 0;
    font-size: 2em;
    padding-bottom: 0;
  }
}

.add-member-form {
  margin-top: 45px;
}

.small-form {
  font-size: 1em;
  margin-top: 0;
}

.inline-form {
  display: inline;
  font-size: 1.5em;
  vertical-align: middle;

  input,
  select {
    appearance: none;
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
  }
}
