<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ title|default:"Timer" }}</title>
	<link rel="stylesheet" href="/css/style.css">
	<script type="text/javascript" src="/js/scripts.js"></script>
</head>
<body>
	{% block top_menu %}
		
	{% endblock top_menu %}
	<div class="main content">
		{% block content %}
			
		{% endblock content %}
	</div>
	{% block templates %}
		
	{% endblock templates %}
</body>
</html>