<nav>
  <ul class="main">
    <li><a href="{% url 'timer' %}" class="{% if page == 'timer' %}active{% endif %}">Timer</a></li><li><a href="{% url 'projects' %}" class="{% if page == 'projects' %}active{% endif %}">Projects</a></li><li><a href="{% url 'teams' %}" class="{% if page == 'teams' %}active{% endif %}">Teams</a></li><li class="float-right"><a href="{% url 'auth_logout' %}">Log out</a></li>
  </ul>
</nav>