<div class="list">
  <h3>{{ date }}</h3>
  <h5 class="margin-left">{{ durationsum }}</h5>
  <ul data-date="{{ date }}">
    {{# tasks }}
      {{> task/task.mustache }}
    {{/ tasks }}
  </ul>
</div>