<li class="container">
  <div class="col-9">
    <span>{{ task }}</span>
    <span class="italic">{{ project }}</span>
  </div>
  <div class="col-3 no-gutter">
    <span class="gray col-6 align-center">{{ duration }}</span>
    <span class="small gray col-6 align-center">{{ time }}</span>
  </div>
  <br class="clear">
</li>