<li>
  <form action="/projects/add_file/" method="POST" class="small-form container" enctype="multipart/form-data">
    <input type="text" name="name" placeholder="Filename" class="col-5">
    <label for="file" class="col-5 placeholder">Select file</label>
    <input type="file" id="file" name="file" placeholder="Select file">
    <input type="hidden" name="project" value="{{ pk }}">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf }}">
    <input type="submit" value="+" class="col-2">
    <br class="clear">
  </form>
</li>