<form action="/teams/add_user/" method="POST" class="add-member-form container">
  <input type="text" name="user" class="col-8">
  <input type="hidden" name="team" value="{{ teampk }}">
  <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf }}">
  <input type="submit" value="Add" class="col-4">
  <br class="clear">
</form>