<li class="container">
  <div class="col-12">
    <a href="{{ mediaurl }}{{ file }}">{{ name }}</a>
    <form action="/projects/delete_file/" method="POST" class="inline-form delete-file">
      <input type="hidden" value="{{ pk }}" name="pk">
      <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf }}">
      <input type="submit" value="&times;" class="red" title="Delete File">
    </form>
  </div>
  <br class="clear">
</li>