<div class="list container">
  <h3 class="col-5">{{ name }} <span class="italic small">{{ team }}</span></h3>
  <div class="col-3">
    <h5 class="col-6 align-center">{{ duration }}</h5>
    <h5 class="col-6 align-center">{{ teamduration }}</h5>
    <br class="clear">
  </div>
  <br class="clear">
  <div class="col-8">
    <ul>
      <li class="title" data-title="0">TODO</li>
        {{# tasks.todo }}
          {{> team/task.mustache }}
        {{/ tasks.todo }}
        {{^ tasks.todo }}
          {{> team/empty.mustache }}
        {{/ tasks.todo }}
        {{> team/todo_form.mustache }}
      <li class="title" data-title="1">Opened</li>
        {{# tasks.opened }}
          {{> team/task.mustache }}
        {{/ tasks.opened }}
        {{^ tasks.opened }}
          {{> team/empty.mustache }}
        {{/ tasks.opened }}
      <li class="title" data-title="2">Done</li>
        {{# tasks.done }}
          {{> team/task.mustache }}
        {{/ tasks.done }}
        {{^ tasks.done }}
          {{> team/empty.mustache }}
        {{/ tasks.done }}
      <li class="title" data-title="3">Cancelled</li>
        {{# tasks.cancelled }}
          {{> team/task.mustache }}
        {{/ tasks.cancelled }}
        {{^ tasks.cancelled }}
          {{> team/empty.mustache }}
        {{/ tasks.cancelled }}
    </ul>
  </div>
  <div class="col-4">
    <ul>
      <li class="title">Files</li>
      {{# files }}
        {{> team/file.mustache }}
      {{/ files }}
      {{> team/add_file_form.mustache }}
    </ul>
  </div>
  <br class="clear">
</div>