<li class="container">
  <div class="col-7">
    <span>{{ name }}</span>

    {{# show_tick }}
    <form action="/projects/close_task/" method="POST" class="inline-form close-task"> 
      <input type="hidden" value="{{ pk }}" name="pk">
      <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf }}">
      <input type="submit" class="green" value="&#10003;" title="Close Task">
    </form>
    {{/ show_tick }}
    {{# show_cross }}
    <form action="/projects/delete_task/" method="POST" class="inline-form delete-task"> 
      <input type="hidden" value="{{ pk }}" name="pk">
      <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf }}">
      <input type="submit" class="red" value="&times;" title="Delete Task">
    </form>
    {{/ show_cross }}
  </div>
  <div class="col-5 no-gutter">
    <div class="col-2">&nbsp;</div>
    <div class="align-center col-5">{{ duration }}</div>
    <div class="align-center col-5">{{ teamduration }}</div>
    <br class="clear">
  </div>
  <br class="clear">
</li>