<div class="list container">
  <h3>{{ name }}</h3>
  <h5 class="margin-left">{{ duration }}</h5>
  <br class="clear">
  <div class="col-8">
    <ul>
      <li class="title">Members</li>
      {{# users }}
        {{> team/user.mustache }}
      {{/ users }}
    </ul>
  </div>
  <div class="col-4">
    <ul>
      <li class="title">Add Member</li>
      {{> team/add_user_form.mustache }}
    </ul>
  </div>
  <br class="clear">
</div>