<li>
  <form action="/projects/add_task/" method="POST" class="small-form container add-todo">
    <input type="text" name="task" class="col-11" placeholder="Add new task">
    <input type="submit" value="+" class="col-1">
    <input type="hidden" name="project" value="{{ pk }}">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf }}">
    <br class="clear">
  </form>
</li>