<li class="container">
  <div class="col-9">
    <span>{{ username }}</span>
    <form action="/teams/remove_user/" method="POST" class="inline-form">
      <input type="hidden" name="user" value="{{ pk }}">
      <input type="hidden" name="team" value="{{ teampk }}">
      <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf }}">
      <input type="submit" class="red" value="&times;" title="Remove this user from Project">
    </form>
  </div>
  <div class="align-center col-3">{{ duration }}</div>
  <br class="clear">
</li>