{% extends "main/base.html" %}

{% block content %}
<div class="center-window-wrapper">
  <div class="center-window">
    <h1>Error 404</h1>
    <h2>Page not found</h2>
  </div>
</div>
{% endblock content %}