{% extends "main/base.html" %}

{% block content %}
<div class="center-window-wrapper">
  <div class="center-window">
    <h1>Error 500</h1>
    <h2>Server Error</h2>
  </div>
</div>
{% endblock content %}